@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

header div {
  min-width: 375px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  font-size: large;
  margin: auto;
  width: 100%;
  min-width: 375px;
  overflow: hidden;
  background-color: #fff;
  z-index: 1000;
}

.navbar a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#nav-links {
  display: none;
  height: 1000px;
  touch-action: none;
}

#nav-links a {
  height: 24px;
  width: 251px;
  left: 0;
  top: 8px;
  border-radius: nullpx;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

.mobile-cont {
  margin: auto;
  background-color: #fff;
  color: white;
  border-radius: 10px;
}

.navbar a.icon {
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
}

.nav-desk {
  display: none;
}

span {
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 10px;
}

.logo {
  font-family: inter, sans-serif;
  font-weight: bold;
  flex-grow: 0;
}

.flex-cont {
  background: url(./pics/header-illsutration-mobile@2x.svg) 100% 0% no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: inter, sans-serif;
  width: 100%;
  min-width: 375px;
}

.flex-cont p {
  font-size: 22px;
  min-width: 360px;
  text-align: center;
  line-height: 28px;
  margin-left: 40px;
  margin-right: 40px;
}

li {
  display: inline;
  padding: 10px;
}

.social-media-d {
  display: none;
}

.job,
.name {
  margin-top: 50px;
  font-size: 42px;
  line-height: 52px;
  width: 327px;
  text-align: center;
  color: rgb(4, 4, 75);
  font-weight: 10000;
}

.job {
  margin-top: -25px;
  color: #36b37f;
}

.downbutton button {
  border-radius: 100%;
  background-color: transparent;
  height: 40px;
  margin-top: 30px;
  border-width: 0.1px;
}

.recent-container {
  display: flex;
  justify-content: center;
  min-width: 355px;
}

.recent-container h2 {
  font-size: 40px;
  text-align: center;
  font-family: inter, sans-serif;
  color: #172b4d;
  height: 97px;
  width: 327px;
  flex-grow: 0;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 700;
}

.indica {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  min-width: 375px;
}

.grid-container {
  display: grid;
  grid-template-columns: 350px;
  row-gap: 24px;
  border-radius: 8px;
  justify-content: center;
}

.work {
  display: flex;
  margin-bottom: 24px;
  min-width: 327px;
  min-height: 474px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
  flex-direction: column-reverse;
  justify-content: end;
  text-align: center;
}

.item {
  display: flex;
  flex-direction: column;
  top: 252px;
  height: 260px;
  width: 348px;
  background-color: #fff;
  font-size: 24px;
  font-family: inter, sans-serif;
  font-weight: 600;
  justify-content: center;
}

.title-p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 282px;
  height: 30px;
  padding-left: 40px;
  text-align: center;
}

.flex-prog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 345px;
  gap: 8px;
  padding: 0;
  height: 30px;
  font-size: 12px;
  justify-content: space-around;
}

.prog-li {
  background-color: #d0d9d4;
  border-radius: 4px;
  height: 8px;
  font-style: normal;
  color: #3a4a42;
  text-align: center;
}

.button-p {
  width: 305px;
  height: 69px;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.button-p button {
  background: #36b37f;
  color: white;
  width: 122px;
  height: 48px;
  font-size: 17px;
  font-weight: 500px;
  border-radius: 4px;
  border: transparent;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 330px;
  min-height: 333px;
  background-image: url(./pics/illustration1.svg), url(./pics/illustration2.svg);
  background-position: 100% 0%, 0% 100%;
  background-repeat: no-repeat;
  font-family: inter, sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

.about-container-d {
  display: none;
}

.about-container h3 {
  font-size: 40px;
  font-weight: 700;
  height: 48px;
}

.cont-about {
  font-size: 20px;
  font-weight: 400px;
  line-height: 32px;
  margin-top: -10px;
}

.resume-but {
  background: #36b37f;
  color: white;
  width: 159px;
  height: 48px;
  font-size: 17px;
  font-weight: 500px;
  border-radius: 4px;
  border: transparent;
  text-align: center;
  align-items: center;
  margin-top: -10px;
}

.grid-about {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: 352px;
  row-gap: 24px;
  border-radius: 8px;
  justify-content: center;
  font-family: "inter", sans-serif;
}

.languages {
  display: flex;
  margin-bottom: 24px;
  width: 327px;
  height: 352px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background-color: #ebf0ee;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 0;
}

#languages {
  margin-top: 40px;
  width: 130px;
  height: 130px;
  align-self: center;
}

.languages ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 345px;
  padding: 0;
  flex-wrap: wrap;
}

.languages li {
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  font-family: "inter", sans-serif;
  font-style: normal;
  color: #36b37e;
  font-size: 12px;
  margin: 7px;
  font-weight: 600;
}

.languages h3 {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: #344563;
}

button:hover:enabled {
  background-color: #2b9569;
}

button:active:enabled {
  color: #0cb653;
}

.form-flex {
  background-image: url(./pics/Frame.png);
  background-position: bottom 10% right 0%;
  background-repeat: no-repeat;
  width: 375px;
  display: flex;
  flex-direction: column;
  margin-top: 780px;
  align-items: center;
}

.text-contact {
  height: 363px;
  width: 327px;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  font-family: inter, sans-serif;
  font-weight: 700;
  color: #172b4d;
}

.form {
  width: 327px;
  height: 327px;
}

.inp-name {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400px;
  line-height: 24px;
  border: 1px solid #d0d9d4;
}

.inp-email {
  margin-top: 24px;
  width: 327px;
  height: 48px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400px;
  line-height: 24px;
  border: 1px solid #d0d9d4;
}

.inp-text {
  margin-top: 24px;
  width: 327px;
  height: 114px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400px;
  line-height: 24px;
  border: solid 1px #60c095;
}

input[type="text"]::placeholder {
  padding: 16px;
  font-size: 15px;
}

input[type="email"]::placeholder {
  padding: 16px;
  font-size: 15px;
}

.btn-sub {
  width: 129px;
  height: 48px;
  border-radius: 4px;
  background-color: #36b37f;
  color: white;
  margin-left: 123px;
  margin-top: 24px;
  border: transparent;
  font-size: 17px;
}

.social-media2 {
  display: inline;
  padding: 10px;
  margin-top: 42px;
}

.social-media2 li {
  width: 20px;
  height: 16px;
}

.social-media2 p {
  font-family: inter, sans-serif;
  font-size: 20px;
  font-weight: 300px;
  text-align: center;
}

textarea::placeholder {
  padding: 12px;
  font-size: 15px;
  font-weight: 400;
  color: #091e42;
}

.languages-cont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 515px;
}

.pop-mobile-container {
  height: 836px;
  width: 343px;
  left: 16px;
  top: 20px;
  border-radius: 16px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #172b4d;
  border: #091e42 solid 1px;
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: auto;
  overflow-x: none;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(0);
}

.mobile-pop-title {
  height: 135px;
  width: 259px;
  left: 0;
  top: 0;
  border-radius: nullpx;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
}

.prog-li-pop {
  background-color: #ebecf0;
  border-radius: 4px;
  font-style: normal;
  color: #344563;
  margin: auto;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-left: 0;
}

.mobile-msg-pop {
  height: 313px;
  width: 311px;
  left: 0;
  top: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.btn-pop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 56px;
  width: 311px;
  border-radius: 0;
  font-size: 15px;
  text-align: left;
}

.pop-btn {
  margin: 5px;
}

.pop-mobile-close {
  position: fixed;
  margin-top: 15px;
  top: 15px;
  right: 52px;
  font-size: 24px;
  color: white;
  -webkit-text-stroke: 1px black;
}

.img-pop-holder {
  position: relative;
}

.img-pop-holder img {
  border: #0cb653 solid 2px;
  width: 320px;
}

.background-pop {
  background-image: url(./pics/about-me-back.jpeg);
  background-size: cover;
  color: #091e42;
  position: fixed;
}

.pop-img {
  display: none;
  width: 900px;
}

.close-background {
  display: none;
}

.popg1 {
  display: none;
}

.pop-prog-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  width: 246px;
  margin-left: -40px;
  border-radius: 0;
}

.pop-msg {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
}

.pop-title h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #172b4d;
}

.btn-pop-d {
  display: none;
}

.form-flex-d {
  background-image: url(./pics/Frame.png);
  background-position: bottom 10% right 0%;
  background-repeat: no-repeat;
  width: 375px;
  display: flex;
  flex-direction: column;
  margin-top: 680px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

hr {
  display: none;
}

.error {
  margin-top: 10px;
  color: red;
  font-size: 30px;
}

@media only screen and (min-width: 768px) {
  .flex-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 300px;
    background: url(./pics/Header-pic.png) no-repeat;
    background-size: 1500.8px;
    align-items: center;
    font-family: inter, sans-serif;
    height: 756px;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .navbar {
    display: none;
  }

  .mobile-cont {
    display: none;
  }

  .nav-desk {
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 1000;
  }

  .nav-desk a {
    padding: 12px;
    font-family: inter, sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
  }

  .flex-cont p {
    font-size: 22px;
    width: 790px;
    text-align: center;
    line-height: 32px;
    height: 96px;
    font-weight: 400;
    animation: fadeIn 5s;
  }

  .job,
  .name {
    margin-top: 50px;
    width: auto;
    line-height: 62px;
    text-align: center;
    color: rgb(4, 4, 75);
    font-weight: 800;
    animation: fadeIn 5s;
  }

  .job {
    margin-top: -25px;
    color: #36b37f;
  }

  .social-media {
    display: none;
  }

  .social-media-d {
    
    display: block;
    animation: fadeIn 5s;
  }
  .social-media-d ul{
    display: flex;
  }

  .downbutton {
    animation: fadeIn 5s;
    border: 0 black solid;
  }

  .recent-container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    margin-top: 102px;
  }

  .recent-container h2 {
    font-size: 40px;
    text-align: center;
    font-family: inter, sans-serif;
    color: #172b4d;
    height: 97px;
    width: 447px;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 700;
  }

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .grid-container {
    display: grid;
    width: 1171px;
    height: 988px;
    border-radius: 8px;
    justify-content: center;
    grid-template-columns: auto auto auto;
    row-gap: 12px;
    column-gap: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
  }

  .indica {
    display: none;
  }

  .about-container {
    background-image: url(./pics/illustration-about\ me-1-desktop.svg), url(./pics/illustration-about-me-2-desktop.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 330px;
    min-height: 333px;
    background-position: 100% 0%, 0% 100%;
    background-repeat: no-repeat;
    font-family: inter, sans-serif;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 0;
  }

  .about-cont-container {
    width: 920px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    line-height: 32px;
    font-weight: 400;
    color: #42526e;
  }

  .cont-about {
    align-self: center;
    max-width: 800px;
    font-size: 20px;
    font-weight: 400px;
    line-height: 32px;
    margin-top: -10px;
  }

  .about-cont-container h3 {
    font-size: 40px;
    font-weight: 700;
  }

  .languages-cont {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    gap: 24px;
  }

  .form-background {
    background-image: url(./pics/contact\ desktop\ pic\ 1.svg), url(./pics/contact\ desktop\ pic\ 2.svg), url(./pics/contact\ desktop\ pic\ 3.svg);
    background-position: right, left, bottom 50px left 280px;
    background-repeat: no-repeat;
    display: block;
  }

  .form-flex-d {
    background-image: url();
    width: 1171px;
    height: 490px;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
  }

  .form-flex {
    display: none;
  }

  .myemail {
    display: none;
  }

  .inp-text {
    width: 684px;
    height: 114px;
    border-radius: 4px;
    transition: width 1s, height 1s;
  }

  footer {
    width: 1500px;
    border-top: 1px solid #dfe1e6;
    text-align: center;
  }

  .div-name {
    width: 684px;
  }

  #Full-name {
    width: 684px;
    height: 48px;
    float: left;
  }

  #last-name {
    width: 330px;
    height: 48px;
    float: right;
  }

  .inp-email {
    width: 684px;
    height: 48px;
    border-radius: 4px;
  }

  .text-contact {
    width: 463px;
    height: 256px;
    font-size: 30px;
    font-weight: 700px;
    line-height: 52px;
    margin-right: 24px;
  }

  .inp-text:focus {
    width: 704px;
    height: 134px;
  }

  .btn-sub {
    margin-left: 0;
  }

  hr {
    margin-bottom: -20px;
  }

  .trans-btn {
    transition: width 2s, height 3s;
  }

  .trans-btn:hover,
  .trans-btn:focus {
    width: 135px;
    height: 51px;
  }

  .img-pop-holder {
    display: none;
  }

  .pop-mobile-container {
    height: 1083px;
    width: 920px;
    left: 0;
    top: 0;
    right: 0;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .popup-d {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    overflow: auto;
    backdrop-filter: blur(5px);
  }

  .pop-img {
    border: #0cb653 solid 2px;
    display: block;
  }

  .pop-icon {
    position: relative;
  }

  #pop-close {
    display: block;
    margin-left: 8px;
    margin-top: 14px;
  }

  .close-background {
    display: block;
    background-color: #ebecf0;
    height: 40px;
    width: 40px;
    margin-right: 24px;
    margin-left: auto;
    margin-top: -15px;
    margin-bottom: 14px;
  }

  .pop-title {
    position: relative;
    width: 589px;
    height: 82px;
  }

  .pop-title h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #172b4d;
  }

  .pop-title-container {
    height: 82px;
    width: 869px;
    left: 26px;
    top: 718px;
    border-radius: 0;
  }

  .btn-pop-d,
  .button-p-p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 305px;
    height: 69px;
    align-items: center;
    padding-top: 80px;
    margin-left: 570px;
    margin-top: -150px;
    right: 0;
    top: 0;
    border-radius: 8px;
    font-size: 15px;
  }

  .button-p-p button {
    background: #36b37f;
    color: white;
    width: 122px;
    height: 48px;
    font-size: 17px;
    font-weight: 500px;
    border-radius: 4px;
    border: transparent;
  }

  .button-p-p img {
    margin-left: 5px;
  }

  .btn-pop {
    display: none;
  }

  .pop-btn {
    padding-top: 5px;
  }

  .prog-li-pop {
    background-color: #ebecf0;
    border-radius: 4px;
    font-style: normal;
    color: #344563;
    margin: auto;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .popg1 {
    display: block;
  }

  .pop-prog-flex {
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 500px;
    border-radius: 0;
    margin-top: 36px;
    margin-left: -36px;
    left: 0;
  }

  .pop-msg {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: left;
  }

  .msg-contaier-pop {
    margin-top: 40px;
    height: 151px;
    width: 876px;
    left: 0;
    top: 0;
  }

  .pop-img-p button {
    margin-left: auto;
    height: 48px;
    width: 241px;
    left: 0;
    top: 4px;
    border-radius: 4px;
    padding: 12px 16px 12px 16px;
  }

  .error {
    margin-top: 10px;
    color: red;
    border: #091e42 1px solid;
    font-size: 30px;
  }
}

.modifiypic {
  width: 348px;
  height: 260px;
  border: #0cb653 2px solid;
}

/* Styles for the project popups */
.project-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000; /* Ensure the popup is on top of other elements */
}

.project-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  width: 80%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; /* Ensure the content is on top of the overlay */
}

.close-button {
  color: red;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}

.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
