body {
    background-image:url(Header-pic.png) ;
    background-size: cover;
}
.container {

}
header{
    
    background-color: aliceblue;
    
    height: 40px;
    
}
.navbar  {
   font-size: large;
   
}
.logo{
    font-family: 'inter';
    font-style: normal;
    font: bold;
    padding-left: 20px;
    font-size: larger;
}
.union {
    float: right;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    padding-right: 20px;
}
.union img {
    width: 30px;
    
}
.title {
    padding-top: 100px;
    padding-left: 40px;
    font-size: large;
    text-align: center;
}
.title h1 {

}
.title .name{
    color: rgb(23, 11, 69);
    font-size: 40px;
}
.job {
    color: rgb(27, 168, 19);
    font-size: 40px;
}
.content{
    padding-left: 40px;
    font-size: 20px;
    font-family: 'inter';
    font-style: normal;
}